################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/edo.BookStore/edo.BookStore/bin/Debug/netcoreapp3.1
/edo.BookStore/edo.BookStore/obj
/edo.BookStore/edo.BookStore/edo.BookStore.csproj.user
/edo.BookStore/edo.BookStore/wwwroot/lib
